
<div class="container">
  <div class="row">
  <h3>プロフィール設定</h3>
    <%= form_for(@user, url: user_path(current_user)) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="col-md-4 col-md-offset-4">

      <%= f.label :image, '写真' , class:'col-form-label' %>
      <%= f.file_field :image, accept: 'image/jpeg,image/jpg,image/png' %>

      <%= f.label :name, '名前' %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :introduction, 'プロフィール' %>
      <%= f.text_area :introduction, rows: 10, class: 'form-control', placeholder: "例：甘口・濃口が好みです。" %>

      <%= f.label :email, 'メールアドレス' %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, 'パスワード' %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, 'パスワード(確認)' %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

    <%= f.submit '保存', class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>
</div>
