<li class="col-md-6" id="micropost-<%= micropost.id %>">
  <span class="content">
    <%= link_to micropost_path(micropost) do %>
      <%= image_tag micropost.image.url, class: "micropost-image" %>
      <% if logged_in? %>
        <div class="feeds-bookmark-btn" id="bookmark_btn_<%= micropost.id %>">
          <% if !micropost.bookmark_by?(current_user) %>
            <%= link_to micropost_bookmarks_path(micropost), method: :post, remote: true do%>
             <i class="far fa-bookmark fa-2x"></i>
            <% end %>
          <% else %>
            <%= link_to micropost_bookmarks_path(micropost), method: :delete, remote: true do%>
             <i class="fas fa-bookmark fa-2x"></i>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <h6 class="user-infomation">
        <%= image_tag micropost.user.image.url, class: "user_image" %>
        <strong><%= link_to micropost.user.name, micropost.user %></strong>
      </h6>

    <% end %>

  </span>
</li>
