<div class="container">
  <div class="row">
    <h3>投稿の編集</h3>
    <div class="col-md-4 col-md-offset-4">

      <%= form_for(@micropost) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="field">

          <div class="form-group">
            <%= f.label :"お酒の名前", class:'col-form-label' %>
            <%= f.text_field :title, placeholder: "お酒の名前を入力してください" %>
          </div>

          <div class="form-group">
          <%= f.label :"テイスト", class:'col-form-label' %>
          <%= f.select :taste,
              [["甘口", "甘口"],
              ["やや甘口", "やや甘口"],
              ["中口", "中口"],
              ["やや辛口", "やや辛口"],
              ["辛口", "辛口"]],
              include_blank: "選択して下さい"
          %>
          </div>

          <div class="form-group">
          <%= f.label :"フレーバー", class:'col-form-label' %>
          <%= f.select :flavor,
              [["芳醇", "芳醇"],
              ["やや芳醇", "やや芳醇"],
              ["中口", "中口"],
              ["やや淡麗", "やや淡麗"],
              ["淡麗", "淡麗"]],
              include_blank: "選択して下さい"
          %>
          </div>

          <div class="form-group star-rate" id="star">
            <%= f.label :"ランク", class:'col-form-label' %>
            <%= f.hidden_field :rate, id: :review_star %>
          </div>

          <%= render 'raty_post' %>

          <div class="form-group">
            <%= f.label :"レビュー", class:'col-form-label' %>
            <%= f.text_area :content, rows: 10, placeholder: "例：　甘口の濃口。自分好みの味でした。" %>
          </div>

        </div>
        <%= f.submit "投稿", class: "btn btn-primary" %>
      <% end %>

    </div>
  </div>
</div>
