<div class="container">
  <div class="row">
    <div class="col-md-6 post-image">
      <%= image_tag @micropost.image.url %>
    </div>
    <div class="col-md-4 post-status" id="micropost-<%= @micropost.id %>">
      <h4 class="user">
        <%= image_tag @user.image.url %>
        <%= link_to @micropost.user.name, @micropost.user %>
      </h4>

      <div class="post-rabel">
        <h2 class="post-text"><%= @micropost.title %></h2>
        <span class="star-rate" id="star-rate-<%= @micropost.id %>"></span>
            <script>
            $('#star-rate-<%= @micropost.id %>').raty({
              size: 36,
              starOff:  '<%= asset_path('star-off.svg') %>',
              starOn : '<%= asset_path('star-on.svg') %>',
              starHalf: '<%= asset_path('star-half.svg') %>',
              half: true,
              readOnly: true,
              score: <%= @micropost.rate %>,
            });
            </script>
          <!--/星評価-->
        <h5 class="post-text"><%= @micropost.taste %>｜<%= @micropost.flavor %></h5>
      </div>

      <h4 class="content">
        <strong><%= @micropost.content %></strong>
      </h4>
      <p class="timestamp">
        Posted:<%= time_ago_in_words(@micropost.created_at) %> ago.
      </p>

      <div id="bookmark_btn_<%= @micropost.id %>">
        <% if !@micropost.bookmark_by?(current_user) %>
          <%= render 'bookmark' %>
        <% else %>
          <%= render 'unbookmark' %>
        <% end %>
      </div>

        <% if current_user?(@micropost.user) %>
          <div>
            <%= link_to @micropost, method: :delete,
                    data: { confirm: "この投稿を削除しますか？" } do%>
              <i class="far fa-trash-alt fa-2x"></i>
            <% end %>
          </div>
          <div>
            <%= link_to edit_micropost_path do%>
              <i class="fas fa-edit fa-2x"></i>
            <% end %>
          </div>
        <% end %>

    </div>
  </div>
</div>
