<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to root_path, id: "logo" do %>
    <%= image_tag 'SAKELOG-logo.png' %>
    <% end %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
         <li><%= link_to "サインイン", signup_path %></li>
         <li><%= link_to "ログイン", '#' %></li>
         <li><%= link_to "新規投稿", '#' %></li>
         <li><%= link_to "アプリについて", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
